
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Filtered Products</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/products">Products</a>
  </nav>
  <h1>Filtered Products (ID > 3)</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% products.forEach(product => { %>
      <tr>
        <td><%= product.PID %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
